@model BikeGround.Models.Register
@{
    ViewBag.Title = "Index";

    Type t = typeof(Register);
}

<div class="form-horizontal bglogin">
    <form id="RegisterForm" name="RegisterForm" ng-submit="RegisterFormValidate(RegisterForm.$valid, Register)" novalidate>
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-lg-3" })
            <div class="col-lg-9" ng-class="{ 'has-error' : RegisterForm.UserName.$invalid && !RegisterForm.UserName.$pristine }">
                @(Html.Editor<Register, string>(x => x.UserName, t))
                @(Html.Required<Register, string>(x => x.UserName, t))
                @(Html.StringLength<Register, string>(x => x.UserName, t))
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-lg-3" })
            <div class="col-lg-9" ng-class="{ 'has-error' : RegisterForm.Password.$invalid && !RegisterForm.Password.$pristine }">
                @(Html.Editor<Register, string>(x => x.Password, t))
                @(Html.Required<Register, string>(x => x.Password, t))
                @(Html.StringLength<Register, string>(x => x.Password, t))
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RepeatPassword, htmlAttributes: new { @class = "control-label col-lg-3" })
            <div class="col-lg-9" ng-class="{ 'has-error' : RegisterForm.RepeatPassword.$invalid && !RegisterForm.RepeatPassword.$pristine }">
                @(Html.Editor<Register, string>(x => x.RepeatPassword, t))
                @(Html.Required<Register, string>(x => x.RepeatPassword, t))
                @(Html.StringLength<Register, string>(x => x.RepeatPassword, t))
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-3 col-lg-9">
                @(Html.Submit(BikeGround.Models.Resources.Global.Register))
            </div>
        </div>
        <ul>
            <li ng-repeat="(key, errors) in RegisterForm.$error track by $index">
                <strong>{{ key }}</strong> errors
                <ul>
                    <li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
                </ul>
            </li>
        </ul>
    </form>
</div>
